p {
    line-height: 2;
    text-align: center;
    font-size: 18px;
    color: #524f4f;
}

ul {
    list-style: none;
}

ul li a {
    color: #2196f3;
}

.about {
    background-color: #ddd;
    color: #322929;
    font-size: 18px;
}
.about li {
    line-height: 2.5;
}
